
:host { display: block; }

.custom-scrollbar::-webkit-scrollbar { width: 6px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background-color: rgba(51, 65, 85, 0.9); border-radius: 10px; }

.translate-x-full { transform: translateX(100%); transition: transform .25s ease-in-out; }
.translate-x-0 { transform: translateX(0); transition: transform .25s ease-in-out; }
