
  <div class="grid grid-cols-7 gap-px bg-border-light dark:bg-border-dark border border-border-light dark:border-border-dark rounded-t-lg overflow-hidden">
    <div *ngFor="let lbl of ['DOM','SEG','TER','QUA','QUI','SEX','SAB']"
         class="text-center py-2 text-sm font-medium text-subtext-light dark:text-subtext-dark bg-card-light dark:bg-card-dark">
      {{ lbl }}
    </div>
  </div>

  <div class="grid grid-cols-7 gap-px bg-border-light dark:bg-border-dark border-x border-b border-border-light dark:border-border-dark rounded-b-lg overflow-hidden">
    <div *ngFor="let day of monthDays; let i = index"
         class="h-48 p-1.5 flex flex-col"
         [ngClass]="{
           'bg-gray-50 dark:bg-gray-800': day.disabled || day.past,
           'opacity-70 grayscale': day.past && !day.disabled,
           'bg-card-light dark:bg-card-dark hover:bg-gray-100 dark:hover:bg-gray-700 cursor-pointer': !day.disabled && !day.past
         }"
         (click)="!day.disabled && !day.past && emitOpen(i)"
    >
      <span class="text-sm rounded-full px-2 py-1 inline-block w-min"
            [ngClass]="{
        'bg-primary text-white': day.date?.toDateString() === todayString,
        'text-gray-400 dark:text-gray-500': day.disabled
      }">
        {{ day.date?.getDate() }}
      </span>

      <div class="mt-1 space-y-2 overflow-y-auto flex-grow" *ngIf="day.items?.length">
        <div *ngFor="let it of day.items; let j = index"
             class="bg-blue-100 dark:bg-blue-900/50 p-2 rounded-md text-xs text-blue-800 dark:text-blue-300 truncate cursor-pointer hover:bg-blue-200 dark:hover:bg-blue-900 flex justify-between items-center"
             (click)="emitOpenItem(i, j)">
          <div class="truncate">
            <p class="font-semibold truncate">{{ it.name }}</p>
            <p class="text-[11px] text-subtext-light">{{ it.category }}</p>
          </div>
          <button (click)="emitRemove(i, j, $event)" class="text-subtext-light hover:text-red-500">
            <span class="material-icons text-[13px]">delete</span>
          </button>
        </div>
      </div>
    </div>
  </div>
