<header class="flex justify-between items-center py-6">
  <div class="flex items-center space-x-2">
    <span class="material-icons text-primary text-3xl">ramen_dining</span>
    <span class="text-2xl font-bold">Menu Fácil</span>
  </div>

  <nav class="hidden md:flex items-center space-x-6">
    <a routerLink="/receitas" class="flex items-center space-x-2 text-subtext-light hover:text-text-light">
      <span class="material-icons">menu_book</span>
      <span>Receitas</span>
    </a>
    <a routerLink="/cardapios" class="flex items-center space-x-2 text-subtext-light hover:text-text-light">
      <span class="material-icons">calendar_today</span>
      <span>Cardápios</span>
    </a>
    <a routerLink="/compras" class="flex items-center space-x-2 text-subtext-light hover:text-text-light">
      <span class="material-icons">shopping_cart</span>
      <span>Lista de Compras</span>
    </a>
    <a routerLink="/estoque" class="flex items-center space-x-2 text-subtext-light hover:text-text-light">
      <span class="material-icons">inventory_2</span>
      <span>Estoque</span>
    </a>
  </nav>
  <div class="flex items-center space-x-4">
    <button class="text-subtext-light dark:text-subtext-dark hover:text-text-light dark:hover:text-text-dark">
      <span class="material-icons">notifications</span>
    </button>
    <button>
      <img alt="Avatar do usuário" class="w-10 h-10 rounded-full" src="https://lh3.googleusercontent.com/aida-public/AB6AXuCDX-UmJWxWqFQPuK8B1moAASbg_lqUxck0XvJZ0n2vNGgZI68RU7ER1t_sMxW0B5aSsMTyKuzoETbpAgCNO6zEBfKsk6bzUiH-PMyQ1z1HNbPTnLFk4VmtSkLV54ft3EKumGrl7kQE_z-Ycbjnfpapn1UtcNZGnNxW1GWCFh7RcHlEsOY-NvQ8QUL20RrGhb4e_Gy8X9dYv5YdWr_l5pVDKUkheu3_xo-exIHK7Rcr4aKZ5M_gl_Lr4fhq2Sm_RtkqMmlh-Eauv7Oq"/>
    </button>
  </div>
</header>
