<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-surface-light dark:bg-surface-dark rounded-lg shadow-lg p-8 m-4 max-w-sm w-full text-center">
    <div class="flex justify-center items-center mx-auto bg-primary rounded-full h-16 w-16 mb-6">
      <span class="material-symbols-outlined text-white text-4xl">check</span>
    </div>
    <h2 class="text-xl font-bold text-text-light dark:text-text-dark mb-4">{{ title }}</h2>
    <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4 mt-6">
      <button
        class="flex-1 inline-flex justify-center items-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-primary hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary"
        (click)="view.emit()"
      >
        Ver Receita
      </button>
      <button
        class="flex-1 inline-flex justify-center items-center py-2 px-4 border border-border-light dark:border-border-dark rounded-md shadow-sm text-sm font-medium text-text-light dark:text-text-dark bg-surface-light dark:bg-surface-dark hover:bg-gray-100 dark:hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary"
        (click)="back.emit()"
      >
        Voltar para Minhas Receitas
      </button>
    </div>
  </div>
</div>
